{% extends "base.html" %}

{% block title %}Дашборд - IdeaPlaner{% endblock %}

{% block content %}

<script>
    if (!localStorage.getItem('token')) {
        window.location.href = '/login';
    }
</script>

    {% include "components/navbar.html" %}

    <main class="max-w-6xl mx-auto px-4 py-6">
        {% include "components/filters.html" %}
        <div id="ideasGrid" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-6">
        </div>
    </main>

    <button onclick="openModal()" class="fixed bottom-6 right-6 w-16 h-16 bg-gradient-to-tr from-rose-600 to-orange-500 text-white rounded-full shadow-xl flex items-center justify-center text-3xl hover:rotate-90 transition-all z-30">
        <i class="fa-solid fa-plus"></i>
    </button>

    {% include "components/modals.html" %}

    <script type="module" src="/static/js/dashboard.js"></script>
{% endblock %}